<div class="container">
  <div class="dashboard-container">

    <div class="row">
      <div *ngIf="isLoading" class="loading-state">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Cargando datos de Spotify...</p>
      </div>
    </div>


    <div *ngIf="!isLoading" class="dashboard-content">
      <div class="dashboard-row row col-md-12">
        <div class="dashboard-card profile-card">
          <app-profile-card [user]="userProfile"></app-profile-card>
        </div>

      </div>

      <div class="dashboard-row ">
        <div class="col-md-6">
          <div class="dashboard-card chart-card">
            <h3>Tus géneros más escuchados</h3>
            <app-genre-chart [genreData]="genreData"></app-genre-chart>
          </div>
        </div>

        <div class="col-md-6">
          <div class="dashboard-card">
            <h3>Top Artistas</h3>
            <app-top-artists [topArtistsChartData]="topArtistsChartData"
              [topArtistsList]="topArtists"></app-top-artists>
          </div>
        </div>

        <div class="col-md-6">
          <div class="dashboard-card">
            <h3>Canciones más escuchadas</h3>
            <app-top-tracks [tracks]="topTracks"></app-top-tracks>
          </div>
        </div>
      </div>

      <div class="dashboard-row col-md-3">
        <div class="dashboard-card">
          <h3>Top Artistas</h3>
          <app-top-artists [topArtistsChartData]="topArtistsChartData" [topArtistsList]="topArtists"></app-top-artists>
        </div>


      </div>

      <div class="dashboard-row col-md-3">

      </div>
      <div class="dashboard-row">
        <div class="dashboard-card full-width">
          <h3>Tu actividad reciente</h3>
          <ngx-charts-line-chart *ngIf="recentPlays && recentPlays.length > 0 && recentPlays[0]?.series?.length > 0"
            [results]="recentPlays" [scheme]="colorScheme" [xAxis]="true" [yAxis]="true" [autoScale]="true"
            [xAxisLabel]="'Fecha'" [yAxisLabel]="'Reproducciones'">
          </ngx-charts-line-chart>
          <div *ngIf="!recentPlays || recentPlays.length === 0 || !recentPlays[0]?.series?.length"
            class="no-data-message">
            Cargando actividad reciente o no hay datos disponibles.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>