@use '@angular/material' as mat;
@import "./styles/base.scss";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Figtree", "Helvetica Neue", sans-serif;

  background-image: url('./images/background-login.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &.no-background {
    background-image: none;
  }

  >* {
    font-family: "Figtree", "Helvetica Neue", sans-serif;
  }
}

:root {
  @include mat.tabs-overrides((active-indicator-color: $primary-green,
      active-focus-indicator-color: $primary-green,
      active-hover-indicator-color: $primary-green,
    ));
}