<div class="top-artists-container">
  <div class="chart-wrapper">
    <ngx-charts-bar-vertical
      *ngIf="topArtistsChartData && topArtistsChartData.length > 0"
      [results]="topArtistsChartData"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [gradient]="gradient"
      [legend]="showLegend"
      [scheme]="colorScheme"
      [barPadding]="10"
      [roundDomains]="true"
      [tooltipDisabled]="false">
    </ngx-charts-bar-vertical>

    <div *ngIf="!topArtistsChartData || topArtistsChartData.length === 0" class="no-data-message">
      Cargando gráfico de artistas principales o no hay datos disponibles.
    </div>
  </div>
</div>