<div class="recent-activity-chart-container">
  <ngx-charts-line-chart
    *ngIf="recentPlaysData && recentPlaysData.length > 0 && recentPlaysData[0]?.series?.length > 0"
    [results]="recentPlaysData"
    [scheme]="colorScheme"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>

  <div *ngIf="!recentPlaysData || recentPlaysData.length === 0 || (recentPlaysData[0] && recentPlaysData[0].series && recentPlaysData[0].series.length === 0)" class="no-data-message">
    Cargando actividad reciente o no hay datos disponibles.
  </div>
</div>