<header>
   <div class="header">
    <mat-toolbar>
      <img class="logo" src="/images/Spottify-icon.webp" alt="Spotify Icon">
      <span>
        SPOTIFY Wrapped
      </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon exit_to_app" (click)="exitUser()"  aria-label="Example icon-button with heart icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</header>
<main>
  <div class="content">
    <div class="container">
      <router-outlet />
    </div>
  </div>
</main>