<app-profile-card [user]="userProfile"></app-profile-card>
<div class="tabs">
  <mat-tab-group>
    <mat-tab class="mat-tab" label="PLAYLISTS">
      <div class="playlists-container">
        @if (isLoading && !playlists.length) {
        <mat-spinner diameter="40"></mat-spinner>
        }

        @if (error) {
        <div class="error-message">
          <mat-icon>error</mat-icon>
          <span>{{ error }}</span>
          <button mat-button color="primary" (click)="loadPlaylists()">Reintentar</button>
        </div>
        }

        <div class="playlists-grid">
          <p class="info-text">Haz click en cualquier playlist para obtener el listado de canciones: </p>

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              @for (playlist of playlists; track playlist.id; let i = $index) {
              <button type="button" [attr.data-bs-target]="'#playlistCarousel'" [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null"
                [attr.aria-label]="'Slide ' + (i + 1)">
              </button>
              }
            </div>
            <div class="carousel-inner ">
              @for (playlist of playlists; track playlist.id; let i = $index) {
              <div class="card carousel-item" [class.active]="i === 0" (click)="showPlaylistDetails(playlist.id)"
                [class.selected]="selectedPlaylist?.id === playlist.id">
                <img [src]="playlist.images[0]?.url" alt="{{ playlist.name }}" class="d-block w-100 ">
              </div>
              }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          @if (selectedPlaylist) {
          <div class="playlist-details" id="playlist-details">
            <p class="info-text">INFORMACIÓN DE LA PLAYLIST:</p>

            <div class="playlist-details-header">
              <img [src]="selectedPlaylist.images[0]?.url || 'assets/default-playlist.png'" alt="Playlist cover"
                class="playlist-cover">
              <div class="playlist-details-info">
                <p class="playlist-details-info-badge">Nombre de la playlist:
                  <span>{{ selectedPlaylist.name }}</span>
                </p>
                <p class="playlist-details-info-description">
                  Descripcion:
                  <span>{{ selectedPlaylist.description }}</span>
                </p>
                <div class="more-info">
                  <p class="playlist-details-info-followers">Seguidores: {{ selectedPlaylist.followers?.total}}</p>
                  <p class="playlist-details-info-owner">Creador: {{ selectedPlaylist.owner?.display_name}}</p>
                  <p class="playlist-details-info-tracks">Canciones: {{ selectedPlaylist.tracks?.total}}</p>
                </div>

              </div>

              <div class="playlist-details-tracks">
                <div class="tracks-container" infiniteScroll (scrolled)="loadMoreTracks()" [scrollWindow]="true"
                  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
                  [infiniteScrollDisabled]="loadingMore || allTracksLoaded">

                  @for (track of selectedPlaylist.tracks.items; track track.id; let i = $index) {
                  <div class="track-item" (click)="playTrackPreview(track)">
                    <div class="track-important-info">
                      <img [src]="track.image || 'assets/default-track.png'" alt="Album cover" class="track-image">
                    <div class="track-name" [class.playing]="isTrackPlaying(track.id)">
                          <p>{{ track.name }}</p>
                        </div>
                    </div>
                    <div class="track-info">
                      

                      <div class="track-text">
                        
                        <div class="track-artists">
                          <p>
                            <span>Artista: </span>
                            {{ track.artists.join(', ') }}
                          </p>
                        </div>
                        <div class="track-album">
                          <p> <span>Album: </span> {{ track.album }}</p>
                        </div>

                        <div class="track-duration">
                          
                          <p><span>Duración: </span>{{ track.duration }}</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  }

                  @if (loadingMore) {
                  <div class="loading-more">
                    <mat-spinner diameter="40"></mat-spinner>
                    <span>Cargando más canciones...</span>
                  </div>
                  }

                  @if (!loadingMore && selectedPlaylist.tracks.items.length >= selectedPlaylist.tracks.total) {
                  <div class="no-more-tracks">
                    Has llegado al final de la playlist
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </mat-tab>
    <mat-tab label="DASHBOARD"> <app-dashboard> </app-dashboard> </mat-tab>
    <mat-tab label="DESCARGAR"> Content 3 </mat-tab>
  </mat-tab-group>
</div>