
.cards{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 18rem);
    justify-content: center;
    
}

.card{
    &-body{
        padding: 2rem;
    }
    &-img-top{
        height: 17rem;
        object-fit: cover;
    }
}

.playlists{
    &-list{
        margin-bottom: 2rem;
    }
}

.tracks-container {
    height: 60vh; /* Altura fija para el scroll */
    overflow-y: auto;
    position: relative;
  }
  
  .loading-indicator {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .end-message {
    text-align: center;
    padding: 20px;
    color: #666;
    font-style: italic;
  }
  
  /* Estilo para la barra de scroll */
  .tracks-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .tracks-container::-webkit-scrollbar-thumb {
    background-color: #1db954;
    border-radius: 4px;
  }